/*styles for p,h1,h2,h3,h4*/
p{
    font-family: 'Balthazar', serif;
	font-size:20px;
	margin:15px;
}
h1{
    font-family: 'Anton', sans-serif;
	margin:10px;
	font-size:40px;
    margin:15px; 	
}
h2{
	font-family: 'Anton', sans-serif;
	margin:7px;
	font-size:30px;
	margin:15px;	
}

h3{
	font-family: 'Anton', sans-serif;
	margin:5px;
	font-size:20px; 
	margin:15px;
	}
h4{
	font-family: 'Anton', sans-serif;
	font-size:15px;
	margin:15px;
}

/*nav style*/
nav#link{
	background-color:black; 
	margin-bottom:20px; 
	padding:10px 10px;
	position:static; 
	width:100%;
	text-align:center;
}
nav#link ul{
	list-style-type:none;
	padding:0;
	overflow: hidden;
	position:relative;
	margin:auto;
	text-align:center;
}

nav#link ul li{
	display:inline-block;
	position:relative;
	padding:5px 5px; 
    margin:auto;
text-align:center;  	
}

nav#link ul li a{
	font-family: 'Balthazar', serif;
	display:block; 
	background-color:#CEE3F6; 
	text-decoration:none; 
	font-size:30px; 
	font-weight:bold; 
	width:100%; 
	padding:10px 5px; 
	border-radius:3px; 
	color:black;
	text-align:center;
	float:left; 
}
nav#link ul li a:hover{
	background-color:yellow;
	color:#000	
}

.clear {
	clear: both;
}
/*footer style*/
#footer{
	margin:10px;
	padding:10px; 
	width:100%; 
	background-color:black;
	font-family:'Anton', sans-serif;
	font-size:15px;  
}

/*start index style*/
.city1{
	height:250px;
}

#koreaphoto
{
	width:90%;
	margin:20px;
	
}
#intro {
	width:90%;
	margin:10px;
	padding:0px; 
}
/*end of index style */

/*start hobbies style */

#firstguitar{
	width:500px;
	height:230px;
	float:left;
	margin:10px;

}
div#section1{
	position:relative;
	width:40%;
	float:left;
	margin-right:5px;
	overflow:hidden;
}
div#section2{
	float:left;
	width:54%;
	margin-left:5px;
	overflow:hidden; 
}
.section2_1{
	border:2px solid black; 
	width:350px;
	float:left;
	margin:5px;
}
.song_guitarist_name{
font-family: 'Anton', sans-serif;
font-size: 15px;
padding:5px 0px;
margin-top:5px;
}
.audioplay{
	margin:20px;
}


.guitarists{
height:200px;
margin-right:3px;
margin-left:3px;
margin-top:10px;
margin-bottom:15px;
}

#sungha_jung{
	margin:5px;
	border:2px solid black;
	width:350px;
	height:350px;
	float:left;
	overflow:hidden;
}
/*end of hobbies style*/

/*start resume style*/
#profile_photo{
	width:200px;
	margin:2px;
}
div#profile{
	width:19%;
	float:left;
	margin:10px;
}
div#resumebody{
	width:70%;
	float:left;
	margin:0 10px 10px 10px;
}
.resumedetail{
	margin-bottom:5%;
}
#profile li{
	padding:10px 10px;
	font-family: 'Balthazar', serif;
	font-size:20px;
}

/*end of resume style*/


/*start traveling style*/
.travelphoto{
	height:300px;
	margin:10px 10px;
	float:left;
	}
.travelplace{
	position:relative;
}
#travelingintro
{ 
  margin-bottom:20px;
}

/*end of traveling style*/

/*footer style*/
.footer{
  display:block;	
  margin:0px; 
  padding:5px;
  width:100%; 
  height:20%;
  background-color:black;
  clear:both;
  color:white;
}
.footertext{
  text-align:center;  
}
/*footer style*/

#map{
	height:400px;
	width:400px; 
}